<td-layout-nav-list  navigationRoute="/" [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : ((media.registerQuery('sm') | async) ? 'push' : 'over')"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">

  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-sidenav-content layout="column">
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Filter by Organization:</span>
    <mat-form-field>
      <mat-select [(ngModel)]="organizationId" (change)="loadSettings()">
        <mat-option></mat-option>
        <mat-option *ngFor="let organization of organizations" [value]="organization.id">
          {{organization.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div td-toolbar-content layout="row" layout-align="start center" flex  class="app-toolbar">
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span hide-gt-sm>Library</span>
    <app-toolbar flex layout="row"></app-toolbar>
  </div>

  <mat-card>
    <mat-card-title>Configurations</mat-card-title>
    <table td-data-table>
      <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column>
          </th>
          <th td-data-table-column *ngFor="let column of columns">
            {{column.label}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr td-data-table-row *ngFor="let row of settings">
          <td td-data-table-cell (click)="openPrompt(row)">
            <button mat-button>Edit</button>
          </td>
          <td td-data-table-cell *ngFor="let column of columns">
            {{row[column.name]}}
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</td-layout-nav-list>